.Banner__container{
    width:100%;
    height:200px;
    background-image: url(../resources/banner01.jpg);
    background-origin: border-box;
    background-size:cover;
    position: absolute;
    display: flex;
}
.Banner__all{
    padding:20px;
    font-size:2.5rem;
    font-weight: 700;
    color:#fff;
    flex-direction: column;
}
.Banner__today{
   flex-direction: column;
    font-weight: 700;
    padding:20px;
    font-size:3rem;
    color:#fff;
}
.Banner__graph{
    width: 600px;
    height: 200px;
    flex:1;
}
:root{
    --backround : #323232;
}