.Hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:92vh;
    width: 100%;
}
.Hero__title{
font-size:3rem;
margin-left: 100px;
font-weight: bold;
text-transform: uppercase;
}
.Hero__title p:first-child{
    color:var(--green-color);
    font-size:3.4rem;
}
.Hero__image svg{
    width:70%;
}
@media (max-width:768px){
    .Hero__image{
        display: none;
    }
    .Hero__title{
        font-size:1.5rem;
    }
}