.Hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:92vh;
    width: 100%;
}
.Hero__title{
font-size:3rem;
margin-left: 10%;
font-weight: bold;
text-transform: uppercase;
}
.Hero__title p:first-child{
    color:var(--green-color);
    font-size:3.4rem;
}
.Hero__image svg{
    width:70%;
}
@media (max-width:768px){
   .Hero{
       flex-direction: column;
       justify-content: center;
   }
   .Hero__image svg{
       height: 100%;
   }
    .Hero__title{
        font-size:1.2rem;
        text-align: center;
        margin-left:0;
        flex: 0.5;
    }
    .Hero__title p:first-child{
        font-size:1.8rem;
    }
}